.scrollable {
  height: 100vh;
  padding: 10%;
  padding-top: 5%;
}

ul {
  font-size: var(--fontsize-p);
  font-weight: 300;
  letter-spacing: 2px;
}


h2 {
  color: var(--color-primary);
}

h1 {
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
}

