<div class="wrapper-left">
  <div class="wrapper-login-mask">
    <!--
      LOGIN
    -->
    <div class="form-group" *ngIf="isLogin">
      <h2>{{'elovate.login-reg.login' | translate}}</h2>
      <form (ngSubmit)="onSubmitLogin()">
        <input type="text" class="form-control" id="nickname" name="nickname"
               [placeholder]="'elovate.login-reg.placeholder.email-or-nickname' | translate"
               [(ngModel)]="loginUser.nickname" required>
        <input type="password" class="form-control" id="password" name="password"
               [placeholder]="'elovate.login-reg.placeholder.password' | translate" [(ngModel)]="loginUser.password"
               required>
        <button type="button" class="btn btn-primary"
                (click)="onSubmitLogin()">{{'elovate.login-reg.login' | translate}}</button>
      </form>
      <button type="button" class="btn btn-dark google"
              (click)="redirectToOauth()">
        <i class="bi bi-google"></i>
        {{'elovate.login-reg.google' | translate}}
      </button>
    </div>
    <!--
      REGISTER
    -->
    <div class="form-group" *ngIf="!isLogin">
      <h2>{{'elovate.login-reg.register' | translate}}</h2>
      <form (ngSubmit)="onSubmitRegister()">
        <input type="text" class="form-control" id="register-nickname" name="nickname"
               [placeholder]="'elovate.login-reg.placeholder.nickname' | translate" [(ngModel)]="registerUser.nickname"
               required>
        <input type="text" class="form-control" id="register-email" name="email"
               [placeholder]="'elovate.login-reg.placeholder.email' | translate" [(ngModel)]="registerUser.email"
               required>
        <input type="password" class="form-control" id="register-password" name="password"
               [placeholder]="'elovate.login-reg.placeholder.password' | translate" [(ngModel)]="registerUser.password"
               required>
        <input type="password" class="form-control" id="register-reenter-password" name="password"
               [placeholder]="'elovate.login-reg.placeholder.password-repeat' | translate"
               [(ngModel)]="registerUser.passwordReentered" required>
        <div class="checkbox">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label for="flexCheckDefault">
            <span (click)="navigateToPage('/privacy')">
              {{'elovate.login-reg.accept-terms' | translate}}
            </span>
          </label>
        </div>
        <button type="button" class="btn btn-primary"
                (click)="onSubmitRegister()">{{'elovate.login-reg.register' | translate}}</button>
      </form>
    </div>
    <button class="btn btn-dark" type="button" *ngIf="isLogin"
            (click)="isLogin = !isLogin">{{'elovate.login-reg.go-to-reg' | translate}}</button>
    <button class="btn btn-dark" type="button" *ngIf="!isLogin"
            (click)="isLogin = !isLogin">{{'elovate.login-reg.go-to-login' | translate}}</button>

  </div>
</div>

