.game-application-create-form {
  text-align: left;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 30%;
}

.game-application-create-form-locked {
  text-align: left;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 30%;
  pointer-events: none;
}

.wrapper-center .game-application-create-view {
  overflow-y: auto;
  height: 100vh;
}

.game-application-create-image-edit {
  width: 100%;
  height: 100%;
  margin: 5% auto;
}


.wrapper-center image-cropper {
  height: 100%;
  visibility: hidden;
  padding-bottom: 5%;
}

.flexbox-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flexbox-item {
  flex: 0 1 auto;
  margin: 1em;
}

.flexbox-item img {
  margin-left: 20%;
  max-width: 15vw;
}

.flex-item:nth-child(1) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.flex-item:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 20;
  flex-basis: auto;
}

.flex-item:nth-child(3) {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.contractInfo {
  text-decoration: underline;
  color: var(--color-primary)
}
