<div class="scrollable">
  <h1>{{'PRIVACY_POLICY_TITLE' | translate}}</h1>
<p><em>{{'PRIVACY_POLICY_LAST_UPDATED' | translate}}</em></p>

<p>{{'PRIVACY_POLICY_PREWORD' | translate}}</p>
<ul>
  <li [innerHTML]="'PRIVACY_POLICY_PREWORD_LIST_ELEMENT'| translate"></li>
</ul>

<p [innerHTML]="'PRIVACY_POLICY_PREWORD_QUESTIONS'| translate"></p>

<h2>TABLE OF CONTENTS</h2>

<h3>{{'PRIVACY_POLICY_1' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_2' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_3' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_4' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_5' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_6' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_7' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_8' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_9' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_10' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_11' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_12' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_13' | translate}}</h3>
<h3>{{'PRIVACY_POLICY_14' | translate}}</h3>


<h2 id="1">{{'PRIVACY_POLICY_1' | translate}}</h2>

<div [innerHTML]="'PRIVACY_POLICY_1_CONTENT' | translate"></div>

<h2 id="2">{{'PRIVACY_POLICY_2' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_2_CONTENT' | translate"></div>




<p>To save or protect an individual's vital interest. We may process your information when necessary to save or protect an individual’s vital interest, such as to prevent harm.</p>

<h2 id="3">{{'PRIVACY_POLICY_3' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_3_CONTENT' | translate"></div>

<h2 id="4">{{'PRIVACY_POLICY_4' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_4_CONTENT' | translate"></div>

<h2 id="5">{{'PRIVACY_POLICY_5' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_5_CONTENT' | translate"></div>

<h2 id="6">{{'PRIVACY_POLICY_6' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_6_CONTENT' | translate"></div>

<h2 id="7">{{'PRIVACY_POLICY_7' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_7_CONTENT' | translate"></div>

<h2 id="8">{{'PRIVACY_POLICY_8' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_8_CONTENT' | translate"></div>

<h2 id="9">{{'PRIVACY_POLICY_9' | translate}}</h2>


  <div [innerHTML]="'PRIVACY_POLICY_9_CONTENT' | translate"></div>

<h2 id="10">{{'PRIVACY_POLICY_10' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_10_CONTENT' | translate"></div>

  <h2 id="11">{{'PRIVACY_POLICY_11' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_11_CONTENT' | translate"></div>

<h2 id="12">{{'PRIVACY_POLICY_12' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_12_CONTENT' | translate"></div>

<h2 id="13">{{'PRIVACY_POLICY_13' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_13_CONTENT' | translate"></div>

<h2 id="14">{{'PRIVACY_POLICY_14' | translate}}</h2>

  <div [innerHTML]="'PRIVACY_POLICY_14_CONTENT' | translate"></div>

  <h1>{{'IMPRINT_TITLE' | translate }}</h1>
  <div [innerHTML]="'IMPRINT_CONTENT' | translate"></div>
</div>
