<div class="wrapper-center">
  <div class="game-application-overview">
    <h2>{{"elovate.game-application-overview.header" | translate}}</h2>
    <form>
      <div class="form-group">
        <label for="status">{{"elovate.game-application-overview.status" | translate}}</label>
        <select class="form-control" type="text" id="status" name="status" [(ngModel)]="selectedGameApplicationStatus"
                (change)="selectionOnChange($event)" required>
          <option *ngFor="let status of gameApplicationStatuses"
                  [value]="status">{{ gameApplicationStatus2LabelMapping[status] | translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <pagination-controls *ngIf="gameApplicationResponseDto.totalElements > 0"
                             [previousLabel]="'elovate.game-application-overview.prev' | translate"
                             [nextLabel]="'elovate.game-application-overview.next' | translate"
                             (pageChange)="onPageChange($event)">
        </pagination-controls>
      </div>
    </form>
    <div class="container">
      <div class="row" *ngFor="let chunk of chunkedGameApplications">
        <div class="col-md-6" *ngFor="let gameApplicationResponse of chunk | paginate
              : {
                  itemsPerPage: gameApplicationResponseDto.pageSize,
                  currentPage: currentPage,
                  totalItems: gameApplicationResponseDto.totalElements
                };">
          <h3>{{ gameApplicationResponse.name }}</h3>
          <img class="uniform-image-size" *ngIf="gameApplicationResponse.image"
               src="{{ gameApplicationResponse.image }}"
               (click)="redirectToGameApplicationDetailView(gameApplicationResponse.id)" alt="Game Application Image">
          <img class="uniform-image-size" *ngIf="!gameApplicationResponse.image"
               src="../../../assets/default-game-cover.png"
               (click)="redirectToGameApplicationDetailView(gameApplicationResponse.id)" alt="Game Application Image">
        </div>
      </div>
    </div>
  </div>

</div>
