<div *ngIf="lobby" class="outer">


  <div class="inner-box inner-box-left">
    <h1>
      Team A
    </h1>
  </div>
  <div class="inner-box inner-box-center game-info gradient-border">
    <img src="data:image/jpeg;base64,{{lobby.game.image}}" alt="Game logo" class="game-logo-image">
    <div class="game-info-text">
      {{lobby.game.name}}
      <br>
      {{lobby.teamA.length}} vs {{lobby.teamB.length}}
    </div>
  </div>
  <div class="inner-box inner-box-right">
    <h1>
      Team B
    </h1>
  </div>

  <div class="inner-box inner-box-left">
    <div class="info-row info-row-left" *ngFor="let teamAUser of lobby.teamA">
      <div class="profile-ranking">
        Elo: {{getRoundedRating(teamAUser.rating)}}
      </div>
      <div
        class="profile-name">{{teamAUser.name.length > 20 ? teamAUser.name.substring(0, 20) + "..." : teamAUser.name}}
      </div>
      <div *ngIf="images[teamAUser.id]" class="profile-picture">
        <img src="{{images[teamAUser.id]}}" alt="Profile picture" class="player-profile-picture left">
      </div>
      <div *ngIf="!images[teamAUser.id]" class="profile-picture">
        <img src="../../../assets/default-player-avatar.jpg"  alt="Profile picture" class="player-profile-picture left">
      </div>
    </div>
    <div class="team-ranking">
      Average Elo: {{averageRankingTeamA}}
    </div>
  </div>

  <div class="inner-box inner-box-center middle-text">
    VS
  </div>

  <div class="inner-box inner-box-right">
    <div class="info-row info-row-right" *ngFor="let teamBUser of lobby.teamB">
      <div *ngIf="images[teamBUser.id]" class="profile-picture">
        <img src="{{images[teamBUser.id]}}" alt="Profile picture" class="player-profile-picture right">
      </div>
      <div *ngIf="!images[teamBUser.id]" class="profile-picture">
        <img src="../../../assets/default-player-avatar.jpg"  alt="Profile picture" class="player-profile-picture right">
      </div>
      <div
        class="profile-name">{{teamBUser.name.length > 20 ? teamBUser.name.substring(0, 20) + "..." : teamBUser.name}}
      </div>
      <div class="profile-ranking">
        Elo: {{getRoundedRating(teamBUser.rating)}}
      </div>
    </div>
    <div class="team-ranking">
      Average Elo: {{averageRankingTeamB}}
    </div>
  </div>

</div>


